.mainpage {
  /* .container {
    padding: 0;
  } */
  position: relative;

  /* PROGRESSBAR */
  .progressbar {
    width: 0%;
    height: var(--height-progress-bar);
    position: fixed;
    left: 0;
    top: 0;
    background: var(--primary-cl);
    z-index: 400;
  }

  /* ----------------- HEADER ----------------- */
  .header {
    background-color: var(--white-cl);
    height: var(--height-header);
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      position: relative;
    }

    .header__logo {
      display: flex;
      align-items: center;

      .header__logo-type,
      .header__logo-mark {
        padding-top: 5px;
      }
      .header__logo-mark {
        display: none;
      }
    }

    .header__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      li {
        a {
          font-family: var(--font-body-medium);
          color: var(--gray-light-cl);
          text-transform: capitalize;
          transition: var(--duration);
          text-wrap: nowrap;

          --padding-lr: 16px;
          padding: 8px var(--padding-lr);
          position: relative;

          &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background-color: var(--primary-cl);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            transition: var(--duration);
          }

          &.--active,
          &:hover {
            color: var(--gray-dark-cl);
            &::after {
              width: calc(100% - calc(var(--padding-lr) * 2));
            }
          }
        }
      }
    }

    .header__cta {
      display: flex;
      align-items: center;

      .header__cta-hamburger {
        width: 28px;
        height: 20px;
        position: relative;
        cursor: pointer;
        margin-left: 20px;
        display: none;

        &::before {
          content: '';
          width: 100%;
          height: 2px;
          background-color: var(--black-cl);
          display: block;
          position: absolute;
          transition: var(--duration);
        }
        span {
          content: '';
          width: 100%;
          height: 2px;
          background-color: var(--black-cl);
          display: block;
          position: absolute;
          transition: var(--duration);
        }
        &::after {
          content: '';
          width: 100%;
          height: 2px;
          background-color: var(--black-cl);
          display: block;
          position: absolute;
          transition: var(--duration);
        }
        &::before {
          transform: rotate(0deg) translate(0px, 0px);
        }
        span {
          top: 50%;
          transform: translateY(-50%);
          transition: var(--duration);
        }
        &::after {
          bottom: 0;
          transform: rotate(0deg) translate(0px, 0px);
        }

        &.--active {
          &::before {
            transform: rotate(45deg) translate(9px, 4px);
            transition: var(--duration);
          }
          span {
            opacity: 0;
          }
          &::after {
            transform: rotate(-45deg) translate(9px, -4px);
            transition: var(--duration);
          }
        }
      }
    }

    /* Responsive Header */
    @media screen and (max-width: 991.98px) {
      .container {
        .header__logo {
          .header__logo-type {
            display: none;
          }
          .header__logo-mark {
            display: block;
          }
        }

        .header__menu {
          li {
            a {
              --padding-lr: 8px;
              font-size: var(--fs-body-small);
            }
          }
        }
      }
    }

    @media screen and (max-width: 767.98px) {
      .container {
        .header__menu {
          display: none;
        }

        .header__logo {
          .header__logo-type {
            display: block;
          }
          .header__logo-mark {
            display: none;
          }
        }

        .header__cta {
          .btn.btn-secondary {
            display: none;
          }

          .header__cta-hamburger {
            display: block;
          }
        }
      }
    }
  }

  /* ----------------- MAIN ----------------- */
  /* Section Hero */
  .hero {
    height: 100vh;
    overflow: hidden;

    max-height: 870px;
    min-height: 560px;

    .container {
      height: 100%;

      .row {
        height: 100%;
        display: flex;
        align-items: center;

        .textbox {
          margin-top: -100px;

          .desc {
            font-size: 1.6rem;
            margin-top: 20px;
          }

          .btn-group {
            margin-top: 52px;
            .btn:nth-child(2) {
              margin-left: 28px;
              background-color: var(--secondary-cl);

              &:hover {
                background-color: var(--primary-cl);
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      /* max-height: 800px;
      min-height: 567px; */

      .container {
        .row {
          .textbox {
            margin-top: 0;
            text-align: center;

            .desc {
              margin-top: 10px;
            }

            .btn-group {
              margin-top: 20px;

              .btn {
                height: var(--height-button);
                padding: 20px;

                &:nth-child(2) {
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }
  }

  /* Section Choose Us */
  .choose {
    .container {
      .row {
        .choose__img {
          margin-left: 50px;

          img {
            border-radius: 64px;
          }
        }
        .choose__content {
          .choose__content-reason {
            margin-top: 40px;

            .reason__item {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 30px;

              margin-top: 15px;
              border-radius: 10px;
              padding: 10px;

              transition: var(--duration);
              &:hover {
                background-color: var(--white-cl);
                box-shadow: -2px 0px 9px 0px rgba(176, 176, 176, 0.75);
                transform: translate(-5px, -5px);
              }

              .textbox {
                .desc {
                  margin-top: 6px;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 1199.98px) {
      .row {
        .choose__content {
          margin-left: 20px;
        }
      }
    }

    @media screen and (max-width: 991.98px) {
      .container {
        .row {
          .col-12:first-child {
            display: flex;
            align-items: center;

            .choose__img {
              margin-left: auto;
              margin-right: auto;

              img {
                width: 300px;
              }
            }
          }
          .choose__content {
            margin-top: 20px;

            & > .textbox {
              text-align: center;

              .desc {
                margin-top: 10px;
              }
            }

            .choose__content-reason {
              margin-top: 20px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 767.98px) {
      .choose__img {
        display: none;
      }
    }
  }

  /* ----------------- FOOTER ----------------- */
}
